In [1]:
import pandas as pd
import numpy as np

# Createing a DataFrame

In [2]:
np.random.seed(seed =42)
df = pd.DataFrame(data=np.random.normal(loc=70,scale=10,size=(7,3)),
                 columns=("Kolkata","Jhargram","Darjiling"),
                  index=('Mon', 'Tues','Wed','Thurs','Fri','Sat','Sun')
                 )
# Remove all decimals for all the entry
df = df.round() 
print(df)

       Kolkata  Jhargram  Darjiling
Mon       75.0      69.0       76.0
Tues      85.0      68.0       68.0
Wed       86.0      78.0       65.0
Thurs     75.0      65.0       65.0
Fri       72.0      51.0       53.0
Sat       64.0      60.0       73.0
Sun       61.0      56.0       85.0

# Data Frame Properties

In [12]:
print(df.index)
print(df.columns)
print(df.dtypes)
print("Info...")
print(df.info)
print("Values...")
print(df.values)
print("Axes...")
print(df.axes)

Index(['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun'], dtype='object')
Index(['Kolkata', 'Jhargram', 'Darjiling', 'DarjilingDiff',
       'DarjilingDiffPer'],
      dtype='object')
Kolkata             float64
Jhargram            float64
Darjiling           float64
DarjilingDiff       float64
DarjilingDiffPer    float64
dtype: object
Info...
<bound method DataFrame.info of        Kolkata  Jhargram  Darjiling  DarjilingDiff  DarjilingDiffPer
Mon       75.0      69.0       76.0            NaN               NaN
Tues      85.0      68.0       68.0           -8.0         -0.105263
Wed       86.0      78.0       65.0           -3.0         -0.044118
Thurs     75.0      65.0       65.0            0.0          0.000000
Fri       72.0      51.0       53.0          -12.0         -0.184615
Sat       64.0      60.0       73.0           20.0          0.377358
Sun       61.0      56.0       85.0           12.0          0.164384>
Values...
[[ 7.50000000e+01  6.90000000e+01  7.60000000e+01             nan
              nan]
 [ 8.50000000e+01  6.80000000e+01  6.80000000e+01 -8.00000000e+00
  -1.05263158e-01]
 [ 8.60000000e+01  7.80000000e+01  6.50000000e+01 -3.00000000e+00
  -4.41176471e-02]
 [ 7.50000000e+01  6.50000000e+01  6.50000000e+01  0.00000000e+00
   0.00000000e+00]
 [ 7.20000000e+01  5.10000000e+01  5.30000000e+01 -1.20000000e+01
  -1.84615385e-01]
 [ 6.40000000e+01  6.00000000e+01  7.30000000e+01  2.00000000e+01
   3.77358491e-01]
 [ 6.10000000e+01  5.60000000e+01  8.50000000e+01  1.20000000e+01
   1.64383562e-01]]
Axes...
[Index(['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun'], dtype='object'), Index(['Kolkata', 'Jhargram', 'Darjiling', 'DarjilingDiff',
       'DarjilingDiffPer'],
      dtype='object')]

# Row diff
1. Find the row wize diferncese
2. Find the Row diff with some period
3. Find col diffences

In [3]:
df.diff()

       Kolkata  Jhargram  Darjiling
Mon        NaN       NaN        NaN
Tues      10.0      -1.0       -8.0
Wed        1.0      10.0       -3.0
Thurs    -11.0     -13.0        0.0
Fri       -3.0     -14.0      -12.0
Sat       -8.0       9.0       20.0
Sun       -3.0      -4.0       12.0

In [4]:
df.diff(periods=2)

       Kolkata  Jhargram  Darjiling
Mon        NaN       NaN        NaN
Tues       NaN       NaN        NaN
Wed       11.0       9.0      -11.0
Thurs    -10.0      -3.0       -3.0
Fri      -14.0     -27.0      -12.0
Sat      -11.0      -5.0        8.0
Sun      -11.0       5.0       32.0

In [5]:
df.diff(periods=1,axis =1)

       Kolkata  Jhargram  Darjiling
Mon        NaN      -6.0        7.0
Tues       NaN     -17.0        0.0
Wed        NaN      -8.0      -13.0
Thurs      NaN     -10.0        0.0
Fri        NaN     -21.0        2.0
Sat        NaN      -4.0       13.0
Sun        NaN      -5.0       29.0

# Shift row or columm
shift allows to shift the row or column for a spacific period.
1. Shift rows
2. shift columns
3. Create new column after shift it 
4. Creating a percentage of changes column.

In [6]:
print(df)
print(df.shift(periods=1)) # value shifted by 1 not the index
print(df) # shift is not efefct the original data

       Kolkata  Jhargram  Darjiling
Mon       75.0      69.0       76.0
Tues      85.0      68.0       68.0
Wed       86.0      78.0       65.0
Thurs     75.0      65.0       65.0
Fri       72.0      51.0       53.0
Sat       64.0      60.0       73.0
Sun       61.0      56.0       85.0
       Kolkata  Jhargram  Darjiling
Mon        NaN       NaN        NaN
Tues      75.0      69.0       76.0
Wed       85.0      68.0       68.0
Thurs     86.0      78.0       65.0
Fri       75.0      65.0       65.0
Sat       72.0      51.0       53.0
Sun       64.0      60.0       73.0
       Kolkata  Jhargram  Darjiling
Mon       75.0      69.0       76.0
Tues      85.0      68.0       68.0
Wed       86.0      78.0       65.0
Thurs     75.0      65.0       65.0
Fri       72.0      51.0       53.0
Sat       64.0      60.0       73.0
Sun       61.0      56.0       85.0

In [7]:
print(df)
print(df.shift(periods=1,axis=1, fill_value=0)) # value shifted by 1 not the column
print(df.shift(periods=1,axis=1, fill_value=0)) # value shifted by 1 not the column
print(df) # shift is not efefct the original data

       Kolkata  Jhargram  Darjiling
Mon       75.0      69.0       76.0
Tues      85.0      68.0       68.0
Wed       86.0      78.0       65.0
Thurs     75.0      65.0       65.0
Fri       72.0      51.0       53.0
Sat       64.0      60.0       73.0
Sun       61.0      56.0       85.0
       Kolkata  Jhargram  Darjiling
Mon        0.0      75.0       69.0
Tues       0.0      85.0       68.0
Wed        0.0      86.0       78.0
Thurs      0.0      75.0       65.0
Fri        0.0      72.0       51.0
Sat        0.0      64.0       60.0
Sun        0.0      61.0       56.0
       Kolkata  Jhargram  Darjiling
Mon        0.0      75.0       69.0
Tues       0.0      85.0       68.0
Wed        0.0      86.0       78.0
Thurs      0.0      75.0       65.0
Fri        0.0      72.0       51.0
Sat        0.0      64.0       60.0
Sun        0.0      61.0       56.0
       Kolkata  Jhargram  Darjiling
Mon       75.0      69.0       76.0
Tues      85.0      68.0       68.0
Wed       86.0      78.0       65.0
Thurs     75.0      65.0       65.0
Fri       72.0      51.0       53.0
Sat       64.0      60.0       73.0
Sun       61.0      56.0       85.0

In [8]:
print(df['Darjiling'])
print(df['Kolkata'].shift(1))
# This line adding a diff by just computing the abs differbces
df['DarjilingDiff'] = (df['Darjiling'] - df['Darjiling'].shift(1))
df['DarjilingDiffPer'] = (df['Darjiling'] - df['Darjiling'].shift(1))/df['Darjiling'].shift(1)
print(df)

Mon      76.0
Tues     68.0
Wed      65.0
Thurs    65.0
Fri      53.0
Sat      73.0
Sun      85.0
Name: Darjiling, dtype: float64
Mon       NaN
Tues     75.0
Wed      85.0
Thurs    86.0
Fri      75.0
Sat      72.0
Sun      64.0
Name: Kolkata, dtype: float64
       Kolkata  Jhargram  Darjiling  DarjilingDiff  DarjilingDiffPer
Mon       75.0      69.0       76.0            NaN               NaN
Tues      85.0      68.0       68.0           -8.0         -0.105263
Wed       86.0      78.0       65.0           -3.0         -0.044118
Thurs     75.0      65.0       65.0            0.0          0.000000
Fri       72.0      51.0       53.0          -12.0         -0.184615
Sat       64.0      60.0       73.0           20.0          0.377358
Sun       61.0      56.0       85.0           12.0          0.164384

# add some code later on...